.dashboard {
    overflow-y:hidden;
    width:20%;
    height:100%;
    float:left;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    background-color:#00a0d0;
}


.dashboard-image {
    width:175px;
    height:175px;
    position: absolute;
    top: 10px;
    left: 18.5%;
}

.dashboard-name {
    line-height: 1;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: white;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 25px;
}

.dashboard-job {
    line-height: 1;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: white;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 15px;
}


.dashboard-hr {
    background-color: white;
    width: 80%;
    height: 1px;
    margin-left: 10%;
    margin-top: -5px;
    border-radius: 90%;
}

.bg-warning {
    /*background-image: none;*/
    background-color: black;
}

/*div {
    border:2px solid red;
    box-sizing:border-box;
}*/