html, body, .dashboard {
    overflow-y:hidden;
    width:100%;
    height:100%;
    margin:0;
/*https://www.transparenttextures.com*/
    background-color: #00a8db;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.dashboard-iframe {
    width:20%;
    height:100%;
    float:left;
}

.dashboard-col {
    width:100%;
    height:100%;
    float:left;
}

.dashboard-col-box-img {
    height: 30%;   
}

.dashboard-col img {
    position: absolute;
    top: 17.5%;
    left: 50%;
    width: 175px;
    height: 175px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border:5px solid black;
}

.dashboard-col-box-text {
    height: 65%;   
    text-align: center;
}